{% extends "index.html.twig" %}
{% block title %} Liste des Catégorie - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des Catégorie</h1>
    </div>
    <div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        {% for Categorie in CategorieList %}
            <tr>
                <th scope="row"><a href="/Categorie/Show/{{ Categorie.id }}">#{{ Categorie.id }}</a></th>
                <td>{{ Categorie.libelle }}</td>
                <td>{{ Categorie.description }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning" href="/Categorie/UpdateCat/{{ Categorie.id }}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="/Cateogorie/DeleteCat/{{ Categorie.id }}"><i class="far fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>


{% endblock %}