{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Mise à jour d'une Catégorie {% endblock %}


{% block body %}
<div class="container-fluid mt-2">
    <h2 class="display-3">Mise à jour d'une Catégorie</h2>
    <hr class="my-4">
    <div class="row">
            <div class="card-body">
                <h5 class="card-title">{{ Categorie.libelle }}</h5>
                <p class="card-text">{{ Categorie.description }}</p>
            </div>

        <form name="updateCategorie" method="post" class="col-lg-8" enctype="multipart/form-data">

            <div class="form-group row">
                <label for="Titre" class="col-sm-2 col-form-label">Titre</label>
                <div class="col-sm-10">
                    <input type="text" name="Titre" class="form-control form-control-lg" value="{{ Categorie.libelle }}" >
                </div>
            </div>

            <div class="form-group row">
                <label for="Description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea name="Description" class="form-control" rows="7">{{ Categorie.description | nl2br }}</textarea>
                </div>
            </div>

            <input type="submit" class="btn btn-primary my-1">
        </form>
    </div>


</div>

{% endblock %}