{% extends "index.html.twig" %}
{% block title %} Mon espace - {{ parent() }}{% endblock %}

{% block css %}
    <style>
        div {
            margin-left: 2.5%;
        }
    </style>
{% endblock %}

{% block body %}

    <h1>Mon espace :</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom d'utilisateur</th>
            <th scope="col">Adresse mail</th>
            <th scope="col">Rôle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.role }}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <a href="/User/Update/{{ user.id }}">
            <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i>&nbsp;&nbsp;Modifier mon compte
            </button>
        </a>
        <a href="/User/Delete/{{ user.id }}">
            <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i>&nbsp;&nbsp;Supprimer mon compte
            </button>
        </a>
    </div>
{% endblock %}