{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Inscrivez vous {% endblock %}
{% block css %}
    <style>
        form#login {
            margin-right: 30%;
            margin-left: 30%;
            margin-top: 3%;
        }

        input#login, button#exit {
            width: 150px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container-fluid mt-2">
        <form id="login" method="post" action="/User/Update/{{ user.id }}">
            <p>Nom d'utilisateur :</p>
            <input type="text" name="username" value="{{ user.username }}" class="form-control"
                   placeholder="Entrer un nom pseudo">
            <p>Adresse mail :</p>
            <input type="email" name="mail" class="form-control" value="{{ user.mail }}"
                   placeholder="Ex : exemple@mail.com">
            <p>Rôle :</p>
            {% if 'admin' in session.login.role %}
                <input type="checkbox" name="roleAdmin" value="admin" checked readonly>Administrateur<br>
            {% else %}
                <input type="checkbox" name="roleAdmin" value="admin">Administrateur<br>
            {% endif %}
            {% if 'redacteur' in session.login.role %}
                <input type="checkbox" name="roleRedac" value="redac" checked readonly>Rédacteur
            {% else %}
                <input type="checkbox" name="roleRedac" value="redac">Rédacteur
            {% endif %}
            <br>
            <input id="login" type="submit" class="btn btn-secondary">
            <a href="/User/MonEspace/{{ user.id }}">
                <button id="exit" type="button" class="btn btn-secondary">Quitter</button>
            </a>
        </form>
    </div>

{% endblock %}